:root {
  --bg: #000000;
  --text: white;
}

@font-face {
  font-family: "Brandon Bold";
  src: url("/fonts/Brandon_bld.otf") format('opentype');
}
@font-face {
  font-family: "Brandon Black";
  src: url("/fonts/Brandon_blk.otf") format('opentype');
}
@font-face {
  font-family: "Brandon Medium";
  src: url("/fonts/Brandon_med.otf") format('opentype');
}
@font-face {
  font-family: "Brandon Regular";
  src: url("/fonts/Brandon_reg.otf") format('opentype');
}
@font-face {
  font-family: "Nitti Grotesk Bold";
  src: url("/fonts/NittiGrotesk-Bold.otf") format('opentype');
}
@font-face {
  font-family: "Nitti Grotesk SemiLight";
  src: url("/fonts/NittiGrotesk-SemiLight.otf") format('opentype');
}
@font-face {
  font-family: "Nitti Grotesk Extrabold";
  src: url("/fonts/NittiGrotesk-Extrabold.otf") format('opentype');
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Brandon Regular";
  display: grid;
  grid-template-columns: 0fr 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-scroll{
  height: 100vh;
  overflow: hidden;
}
