.container h1 {
  font-size: 237px;
  letter-spacing: -4.74px;
  font-family: "Nitti Grotesk Bold";
  margin-left: -18px;
  animation: MovementTitle 1.5s ease-in-out;
  width: 100vw;
}

.container .image_desktop {
  background-image: url(/assets/img_1_desktop.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
}

.container .right_bg {
  background-position: 30vw 60%;
}

.container .left_bg {
  background-position: -30vw 60%;
}


@media screen and (min-width: 1280px) and (min-height: 800px) {
  .container .right_bg {
    background-position: 27rem 74%;
  }

  .container .left_bg {
    background-position: -27rem 74%;
  }
}

@media screen and (min-width: 1600px) and (min-height: 968px) {
  .container .right_bg {
    background-position: 35rem 74%;
  }

  .container .left_bg {
    background-position: -35rem 74%;
  }
}

@keyframes show {
  from {
    height: 25%;
  }

  to {
    height: 100%;
  }
}

@keyframes MovementTitle {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 800px) {
  .container h1 {
    font-size : 157px;
    letter-spacing : -3.14px;
    padding-left: 8px;
  }
}

.container h2 {
  font-size: 68px;
  letter-spacing: 12.24px;
  font-family: "Nitti Grotesk Bold";
  color : #79533F;
  letter-spacing : 12.24px;
  margin-bottom: 10px;
}

.container h2 {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: HeaderAnimation;
  animation-range: entry 10% cover 50%;
  animation-fill-mode: both;
}

.container h3 {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: HeaderAnimation;
  animation-range: entry 25% cover 75%;
  animation-fill-mode: both;
}

@keyframes HeaderAnimation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.container h3 {
  font-size : 27px;
  letter-spacing : 4.86px;
  font-family: "Nitti Grotesk SemiLight";
  color : #79533F;
}

@media only screen and (max-width: 800px) {
  .container h2 {
    font-size: 36px;
    letter-spacing : 6.48px;
    margin-bottom: 1px;
  }

  .container h3 {
    font-size : 18px;
    letter-spacing : 3.24px;
  }
}

.container h4 {
  font-size : 20px;
  line-height : 39.59px;
  letter-spacing : -0.4px;
  font-family: "Nitti Grotesk SemiLight"
}

.container .h4_simple {
  font-size : 20px;
  font-family: "Nitti Grotesk SemiLight";
  line-height: 24px;
  letter-spacing: 1px;
  animation: MovementDescription 1.5s ease-in-out;
  margin-top: -15px;
}

@keyframes MovementDescription {
  from {
    opacity: 0;
    transform: translateY(-90%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 800px) {
  .container .h4_simple {
    font-size : 18px;
    line-height: 24px;
    letter-spacing: 0px;
    max-width: 10rem;
    min-width: 245px;
  }
}

.container h5 {
  font-size: 18px;
  font-family: "Nitti Grotesk SemiLight";
  letter-spacing : 1.08px;
  color : #7F5540;
  line-height: 21px;
  max-width: 610px;
}


@media only screen and (max-width: 800px) {
  .container h5 {
    font-size : 12px;
    letter-spacing : 0.54px;
    line-height: 13px;
    max-width: 294px;
  }
}

.container .h5_simple {
  color: white;
  max-width: 802px;
  text-align: center;
  margin-bottom: 35px;
}

@media only screen and (max-width: 800px) {
  .container .h5_simple {
    font-size: 12px;
    letter-spacing: 0.54px;
    max-width: 277px;
    margin-bottom: 15px;
  }
}

.container .show_more_btn {
  font-family: "Brandon Bold";
  font-size : 13px;
  color : #7F5540;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #7F5540;
  border-radius: 6px;
  letter-spacing : 2.6px;
  width: 107px;
  height: 31px;
  transition: 0.5s ease;
  text-align-last: center;
}

@media only screen and (max-width: 800px) {
  .container .show_more_btn {
    font-size : 8px;
    line-height : 8.99px;
    letter-spacing : 1.6px;
    width: 65px;
    height: 16px;
    border-radius: 3px;
    padding: 5px 0px 13px 0px;
  }
}

.container .show_more_btn:hover{
  color: white;
  background-color: #7F6046;
  filter: contrast(1);
}

.section_five .show_more_btn:hover {
  color: #7F5540 !important;
  background-color: white;
  border: 1px solid #7F5540;
}

.section_one {
  height: 768px;
  padding-left: 56px;
  padding-top: 250px;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .section_one {
    height: 100vh;
    padding-top: 235px;
    padding-left: 25px;
  }
}

.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.section_three {
  height: 600px;
  display: flex;
  background-color: #FCF0E4;
  position: relative;
  z-index: 700;
}

.section_three h3{
  margin-bottom: 44px;
  letter-spacing : 5.22px;
}

.section_three h5{
  margin-bottom: 35px;
  line-height: 21.6px;
}

@media only screen and (max-width: 800px) {
  .section_three h3{
    margin-bottom: 14px;
  }

  .section_three h5{
    margin-bottom: 12px;
    font-size : 13px;
    letter-spacing : 0.78px;
    line-height: 15.6px;
    min-width: 316px;
  }
}

.section_three .col_1{
  text-align: center;
  margin: auto;
}

.image_desktop {
  object-fit: none;
  object-position: 48% 60%;
  width: 513px;
  height: 600px;
}

.image_mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .section_three {
    height: 507px;
    flex-direction: column;
  }

  .image_desktop {
    display: none;
  }

  .image_mobile {
    height: 234px;
    background: url("/assets/img_1_mobile.png");
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 800;
    position:relative;
    width: 101%;

  }
}

.section_four {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  background-color: #D2C1AE;
  z-index: 600;
}

.section_four h3{
  margin-bottom: 44px;
  letter-spacing : 5.22px;
}

.section_four h5{
  margin-bottom: 35px;
  line-height: 21.6px;
}

@media only screen and (max-width: 800px) {
  .section_four {
    height: 507px;
    flex-direction: column;
  }

  .section_four h3{
    margin-bottom: 14px;
    letter-spacing : 3.24px;
  }

  .section_four h5{
    font-size : 13px;
    line-height : 14px;
    letter-spacing : 0.78px;
    min-width: 316px;
    margin-bottom: 12px;
  }
}

.section_four  .col_1{
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 800px) {


  .image_desktop {
    display: none;
  }

  .image_mobile {
    height: 234px;
    background: url("/assets/img_1_mobile.png");
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 800;
    position:relative;
  }
}

.section_five {
  height: 767px;
  transform: scale(101%);
  background: url("/assets/bg_2.jpg");
  background-size: cover;
  background-position: center;
  letter-spacing : 21.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 500;
}

.section_five h2{
  color: #F3EFE8;
}

.section_five h3{
  color : #F3EFE8;
  font-size: 29px;
  margin-bottom: 30px;
}

.section_five .h5_simple{
  font-size: 20px;
  letter-spacing : 1.2px;
  line-height: 24px;
}

@media only screen and (max-width: 800px) {
  .section_five h2{
    font-size : 36px;
    letter-spacing : 6.48px;
  }

  .section_five h3{
    margin-bottom: 14px;
    font-size : 18px;
    letter-spacing : 3.24px;
  }

  .section_five .h5_simple{
    min-width: 315px;
    font-size : 13px;
    letter-spacing : 0.78px;
    line-height: 15.6px;
  }

}

.section_five a{
  color: #F3EFE8 !important;
  border-color: #F3EFE8 !important;
}

@media only screen and (max-width: 800px) {
  .section_five {
    height: 322px;
    flex-direction: column;
  }

  .image_desktop {
    display: none;
  }

  .image_mobile {
    height: 234px;
    background: url("/assets/img_1_mobile.png");
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 800;
    position:relative;
  }
}

.section_six {
  height: 600px;
  display: flex;
  background-color: #D6C4B2;
  position: relative;
  z-index: 400;
}

.section_six h2 {
  font-size: 53px;
}

.section_six h3{
  margin-bottom: 44px;
  letter-spacing : 5.22px;
}

.section_six h5{
  margin-bottom: 35px;
  line-height: 21.6px;
}

@media only screen and (max-width: 800px) {
  .section_six {
    height: 507px;
    flex-direction: column;
  }

  .section_six h2{
    font-size : 28px;
    letter-spacing : 5.04px;
    margin-bottom: 5px;
  }

  .section_six h3{
    font-size : 18px;
    letter-spacing : 3.24px;
    margin-bottom: 16px;
  }

  .section_six h5{
    font-size : 13px;
    letter-spacing : 0.78px;
    line-height: 15.6px;
    min-width: 310px;
    margin-bottom: 15px;
  }
}

.section_six .col_1{
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .image_desktop {
    display: none;
  }

  .image_mobile {
    height: 234px;
    background: url("/assets/img_1_mobile.png");
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 800;
    position:relative;
  }
}

.section_seven {
  height: 600px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #FFF2E7;
  position: relative;
  z-index: 300;
}

.section_seven h3{
  margin-bottom: 44px;
  letter-spacing : 5.22px;
}

.section_seven h5{
  margin-bottom: 35px;
  line-height: 21.6px;
}

@media only screen and (max-width: 800px) {
  .section_seven h2{
    font-size : 28px;
    letter-spacing : 5.04px;
  }

  .section_seven h3{
    margin-bottom: 14px;
    min-width: 310px;
    font-size : 18px;
    letter-spacing : 3.24px;
  }

  .section_seven h5{
    font-size : 13px;
    letter-spacing : 0.78px;
    line-height: 15.6px;
    margin-bottom: 15px;
    min-width: 315px;
  }
}

.section_seven  .col_1{
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .section_seven {
    height: 507px;
    flex-direction: column;
  }

  .image_desktop {
    display: none;
  }

  .image_mobile {
    height: 234px;
    background: url("/assets/img_1_mobile.png");
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 800;
    position:relative;
  }
}

