.container{
  height: 100px;
  padding-top: 54px;
  padding-left: 45px;
  padding-right: 52px;
  padding-bottom: 54px;
  font-size: 18px;
  letter-spacing : 3.6px;
  font-family: "Brandon Medium";
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 800;
  transition: 0.5s ease;
}

.container img {
  fill: #79533 !important;

}
.scrolled {
  background-color: white;
  margin: 0;
  color: #79533F;
}

.container .col_3 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.container button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container button:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
}

.logos {
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo a:hover {
  filter: contrast(2);
  transition: filter 0.5s ease;
}

.delivery_btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: 0.5s ease;
}

.delivery_btn:hover {
  background-color: white;
  color: black;
}

