.sidebar_wrapper {
  transition: all 0.3s ease;
  width: 435px;
  background-color: #fff;
  font-family: "Brandon Medium";
  padding-top: 54px;
}

.sidebar_wrapper hr {
  margin-bottom: 20px;
  margin-top:20px;
}

.sidebar {
  height: 100%;
  background-color: #fff;
  padding: 1rem;
}

.sidebar_top {
  padding: 20px 30px 0px 40px;
  display: flex;
  justify-content: space-between;
}

.sidebar_link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  display: flex;
  font-size: 20px;
  height: 46px;
  margin-bottom: 7px;
  align-items: center;
  padding-left: 20px;
  letter-spacing: 2px;
}

.sidebar_link:hover {
  transition-duration: 0.5s;
  border-radius: 6px;
  background-color: #f7e9de;
}

.collapsed {
  overflow: hidden;
  opacity: 0;
  transform: translateX(-100%);
  width: 0px !important;
}

.sidebar_close_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar_delivery_btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition-duration: 0.5s;
  border: 1px solid #7F5540;
  color: red;color: #7F5540;
  font-size: 18px;
  font-family: "Brandon bold";
}

.sidebar_delivery_btn:hover{
  color: white;
  background-color: #7F6046;
  filter: contrast(1);
}
