.sidebar_wrapper {
  transition: all 0.4s ease-in-out;
  width: 335px;
  background-color: #fff;
  font-family: "Brandon Medium";
  padding-top: 10px;
  animation: ShowSidebar 1.5s ease-in-out;
}

@keyframes ShowSidebar {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 800px) {
  .sidebar_wrapper{
    width: 160px;
    z-index: 900;
  }

  .sidebar_wrapper span {
    font-size: 8px;
  }

  .sidebar_wrapper a {
    font-size: 8px;
  }

  .sidebar {
    width: 160px;

  }
}

.sidebar_wrapper hr {
  margin-bottom: 20px;
  margin-top:20px;
}

.sidebar {
  height: 100%;
  background-color: #fff;
  position: fixed;
  padding: 1rem;
  margin-top: 60px;

}

.sidebar_top {
  padding: 20px 30px 0px 40px;
  position: fixed;
}

@media only screen and (max-width: 800px) {
  .sidebar_top {
    padding: 10px 15px 0px 20px;
    position: fixed;
  }

}


.sidebar_link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  display: flex;
  font-size: 13px;
  height: 32px;
  margin-bottom: 7px;
  align-items: center;
  padding-left: 20px;
  letter-spacing: 2px;
  color: #7F6046;
}

.sidebar_link:hover {
  transition-duration: 0.5s;
  border-radius: 6px;
  background-color: #f7e9de;
}

.collapsed {
  overflow: hidden;
  opacity: 0;
  width: 0px !important;
}

.sidebar_close_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar_delivery_btn {
  height: 30px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  border: 1px solid #7F5540;
  color: white;
  background-color: #79533F;
  font-size: 13px;
  font-family: "Brandon bold";
  left: 9rem;
  position: relative;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1.2px;
  padding: 0 10px;
}

.sidebar_delivery_btn:hover{
  color: #7F5540;
  /* background-color: #D2C1AE; */
  border-color:rgb(240 180 78);
  background-color: rgb(240 180 78);
}
